html{
    font-family: Bahnschrift;
}

body{
    background: rgb(34,193,195);
    background: -moz-linear-gradient(135deg, rgba(34,193,195,1) 0%, rgba(255,226,106,1) 100%);
    background: -webkit-linear-gradient(135deg, rgba(34,193,195,1) 0%, rgba(255,226,106,1) 100%);
    background: linear-gradient(135deg, rgba(34,193,195,1) 0%, rgba(255,226,106,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#22c1c3",endColorstr="#ffe26a",GradientType=1);
    background-attachment: fixed;
}

.login-alert {
    margin-top: 0;
    color: red;
}

.nav a {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: black;
    height: 100%;
    display: flex;
    align-items: center;

}

.right {
    justify-content: right;
    justify-self: right;
}

.nav {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    align-items: center;
    height: 100%;
}

.nav {
    margin-left: 1rem;
    margin-right: 1rem;
    gap: 0.5rem;
}

.nav li {
    font-family: Bahnschrift;
    font-size: 1.5rem;
    height: 100%;
    margin: 0;

}

.nav li:hover {
    background-color: #c7ddcc;
}

.nav li.active {
    background-color: #61b612;
}

.nav-bar {
    display: flex;
    top: 0;
    margin: 0;
    background-color: #22a1c3;
    width: 100%;
    height: 2.5rem;
    align-items: center;
    justify-content: space-between;
    border-bottom-style: solid;
}

.login-button {
    cursor: pointer;
}

.register-button {
    cursor: pointer;
}

.answer{
    margin-left: 0.25rem;
}

html, body, #app, #app>div {
    height: 100%
}