.login-form input {
    width: 10rem;
    height: 2rem;
    margin-right: 0.25rem;
}

.login-alert {
    margin-top: 0;
    color: red;
}

.nav a {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: black;
    height: 100%;
    display: flex;
    align-items: center;

}

.right {
    justify-content: right;
    justify-self: right;
}

.nav {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    align-items: center;
    height: 100%;
}

.nav li {
    font-family: Arial;
    font-size: 1.5rem;
    height: 100%;
    margin: 0;

}

.nav li.active {
    background-color: #61b612;
}

.nav-bar {
    display: flex;
    top: 0;
    margin: 0;
    background-color: #586984;
    width: 100%;
    height: 2.5rem;
    align-items: center;
    justify-content: space-between;
}

.login-button {
    cursor: pointer;
}

.register-button {
    cursor: pointer;
}

.login-submit {
    font-family: Arial;
    cursor: pointer;
    border: 0;
    background-color: #586984;
    font-size: 1.5rem;
}


.login-window {
    right: 3rem;
    top: 4rem;
    position: fixed;
    border-style: solid;
    border-radius: 5px;
    background-color: #586984;
}

.close-window {
    cursor: pointer;
    float: right;
    justify-self: right;
    background-color: #586984;
    font-size: 1.25rem;
    font-weight: bold;
}

.register-container {
    position: fixed;
    border-style: solid;
    border-radius: 5px;
    background-color: #586984;
    right: 3rem;
    top: 4rem;
}